

RabbitMQ/Publisher/obj/

RabbitMQ/Publisher/bin/
RabbitMQ.DirectExchange/Consumer.Warning/obj/
RabbitMQ.DirectExchange/Consumer.All/obj/

*.bin
*.obj
/.vs
*.dll
*.txt

*.v2





*.vsidx

RabbitMQ.DirectExchange/Consumer.All/bin/Debug/net8.0/

RabbitMQ.DirectExchange/Consumer.Info/obj/

RabbitMQ/Consumer/obj/

RabbitMQ/Consumer/bin/Debug/net8.0/

RabbitMQ.DirectExchange/Producer/obj/

RabbitMQ/.vs/RabbitMQ/v17/

RabbitMQ.DirectExchange/Producer/bin/Debug/net8.0/

RabbitMQ.DirectExchange/Consumer.Warning/bin/Debug/net8.0/

RabbitMQ.DirectExchange/Consumer.Info/bin/Debug/net8.0/

RabbitMQ.DirectExchange/Consumer.Error/obj/

RabbitMQ.DirectExchange/Consumer.Error/bin/Debug/net8.0/

RabbitMQ.DirectExchange/.vs/RabbitMQ.DirectExchange/v17/
